body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    align-items: center;
}

h2 {
    color: #333;
    text-align: center;
}

h3 {
    color: #333;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
input[type="file"] {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 2px solid #f8f5f5;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    box-sizing: 200px;
    background-color: #050505;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2d2d2d;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.container {
    max-width: 280px;
}

.post {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

#mediaPreview img,
#mediaPreview video {
    max-width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

select,
input[type="datetime-local"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Segoe UI', sans-serif;
}


hr {
    border: #333;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}